body {
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
    text-align: center;
}

.main-window {
    min-width: 350px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background: white;
    box-shadow: 15px 15px 90px #bebebe,
                -15px -15px 90px #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background: linear-gradient( rgb(150, 150, 150), rgb(100, 100, 100));
    text-align: left;
    min-height: auto;
    height: 20%
}

header h1 {
    font-size: 2.4rem;
    margin: 1em 4em 1em 2em;
}

main {
    flex: 1;
}

footer {
    background-color: rgb(120, 120, 120);
}

.existing-projects {
    text-align: left;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.existing-projects h3 {
    font-size: 2rem;
    padding-left: 2rem;
}

.existing-list {
    list-style: none;
    padding-inline-start: 2rem;
}

.planned-projects {
    text-align: left;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.planned-projects h3 {
    font-size: 2rem;
    padding-left: 2rem;
}

.planned-list {
    list-style: none;
    padding-inline-start: 2rem;
}

.project {
    width: 90%;
    margin-top: 3em;
    margin-bottom: 3em;
    border: 1px solid #dddddd;
    height: 8rem;
    border-radius: 20px;
    background:  #f0f0f0;
    box-shadow:  21px 21px 42px #d5d5d5,
                -21px -21px 42px #ebebeb;
    display:flex;
    cursor: pointer;
}

.project-image {
    height: 6.4rem;
    width: 6.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 20px;
}

.project-info {
    margin-top: 1rem;
    display: block;
}

.project-texts {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.project-link:hover {
    cursor: pointer;
}

/* --- Media Queries --- */