body {
    padding: 0;
    margin: 0;
    background-color: #F0F7F4;
    text-align: center;
    position: relative;
}

.example-box {
    background-image: linear-gradient(to bottom right, #545677, #03254E);
    width: 100%;
    height: 100%;
    background-size: cover;
    color: #F0F7F4;
    z-index: 1;
    position: absolute;
  }

.background-shapes {
    content: "";
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-image: url(https://cdn2.hubspot.net/hubfs/53/Pricing%202017%20Assets/marketing/Header_Circles-1.svg);
}

.main-window {
    min-width: 350px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background: #F0F7F4;
    box-shadow: 15px 15px 90px #bebebe,
                -15px -15px 90px #ffffff;
    color: #32292F;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 10;
    position: relative;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    color: #F0F7F4;
    background: #03254E;
    border-radius: 0 0 5px 5px;
    z-index: 5;
}

header h1 {
    position: absolute;
    font-size: 2rem;
    padding-left: 2rem;
    margin: 0;
}

header a {
    margin-right: 1em;
    color: #F0F7F4;
    font-size: 1.2em;;
}

.links {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 2em;
    bottom: 0.3em;
    font-size: 0.8em;
}

main {
    flex: 1;
}

footer {
    background-image: linear-gradient(to bottom right, #32292F, #705D56, 0.3);
    color: #F0F7F4;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.existing-projects {
    text-align: left;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.existing-projects h3 {
    font-size: 2rem;
    padding-left: 2rem;
}

.existing-list {
    list-style: none;
    padding-inline-start: 2rem;
}

.planned-projects {
    text-align: left;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.planned-projects h3 {
    font-size: 2rem;
    padding-left: 2rem;
}

.planned-list {
    list-style: none;
    padding-inline-start: 2rem;
}

.project {
    width: 90%;
    margin-top: 3em;
    margin-bottom: 3em;
    border: 1px solid #dddddd;
    height: 8rem;
    border-radius: 20px;
    background:  #f0f0f0;
    box-shadow:  21px 21px 42px #d5d5d5,
                -21px -21px 42px #ebebeb;
    display:flex;
    cursor: pointer;
    overflow: auto;
}

.project-image {
    height: 6rem;
    width: 6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 20px;
}

.project-info {
    margin-top: 1rem;
    display: block;
}

.project-texts {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.project-link:hover {
    cursor: pointer;
}

 footer small {
    margin-right: 3em;
}

footer a img {
    margin-left: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
}

@media (max-width: 860px) {
    header {
        height: 55px;
    }
}